body {
  margin: 0;
  background: #0b0b0b;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  color: white;
  animation: appFade 0.6s ease-in;
}

@keyframes appFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;

  animation: slideDown 0.5s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input {
  padding: 12px 14px;
  width: 260px;
  border-radius: 12px;
  border: 1px solid #2a2a2a;
  background: #1a1a1a;
  color: white;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #00ffcc;
  box-shadow: 0 0 12px #00ffcc;
  transform: scale(1.02);
}


form button {
  padding: 13px 19px;
  border: none;
  border-radius: 13px;
  background: #00ffcc;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 255, 204, 0.3);
}

.todo-item {
  background: #1a1a1a;
  width: 330px;
  padding: 5px 15px;
  margin: 8px 0;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2a2a2a;
  animation: popUp 0.4s ease forwards;
}


@keyframes popUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.todo-item:hover {
  transform: translateY(-3px) scale(1.02);
  border-color: #00ffcc;
}


.todo-item button {
  background: crimson;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.todo-item button:hover {
  transform: scale(1.1);
}